Repository bcgov/nr-forest-client-api, pull requests merged in 2023-01, with the labels that each got.

#67 ci: updating workflows
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/merge-dev.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/unit-tests.yml
  pom.xml
  src/main/java/ca/bc/gov/api/oracle/legacy/exception/ClientNotFoundException.java
  src/main/java/ca/bc/gov/api/oracle/legacy/exception/InvalidClientNumberException.java
  src/main/java/ca/bc/gov/api/oracle/legacy/exception/NoSearchParameterFound.java
  src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientService.java
Labels: github_actions, ci, source, service, dependencies

#80 fix: workflow merge-main
  .github/workflows/merge-main.yml
Labels: fix

#95 feat: update code to use webflux
  src/main/java/ca/bc/gov/api/oracle/legacy/configuration/RouteConfiguration.java
  src/main/java/ca/bc/gov/api/oracle/legacy/controller/ClientController.java
  src/main/java/ca/bc/gov/api/oracle/legacy/handlers/ClientHandler.java
  src/main/java/ca/bc/gov/api/oracle/legacy/handlers/GlobalErrorHandler.java
  src/main/java/ca/bc/gov/api/oracle/legacy/routes/BaseRouter.java
  src/main/java/ca/bc/gov/api/oracle/legacy/routes/ClientRouter.java
  src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientService.java
  src/test/java/ca/bc/gov/api/oracle/legacy/handlers/ClientHandlerTest.java
Labels: source, service, feature, tests, controller, configuration
