Repository bcgov/nr-forest-client-api, pull requests merged in 2023-05, with the labels that each got.

#155 chore(deps): update maven all non-major dependencies
  pom.xml
Labels: dependencies, ignore-for-release

#156 [FSADT1-748] Create general search API
  src/main/java/ca/bc/gov/api/oracle/legacy/controller/ClientController.java
  src/main/java/ca/bc/gov/api/oracle/legacy/dto/ClientPublicViewDto.java
  src/main/java/ca/bc/gov/api/oracle/legacy/dto/ClientStatusCodeEnum.java
  src/main/java/ca/bc/gov/api/oracle/legacy/dto/ClientTypeCodeEnum.java
  src/main/java/ca/bc/gov/api/oracle/legacy/dto/ClientViewDto.java
  src/main/java/ca/bc/gov/api/oracle/legacy/entity/ForestClientBaseEntity.java
  src/main/java/ca/bc/gov/api/oracle/legacy/entity/ForestClientEntity.java
  src/main/java/ca/bc/gov/api/oracle/legacy/repository/ForestClientRepository.java
  src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientService.java
  src/main/java/ca/bc/gov/api/oracle/legacy/util/ClientMapper.java
  src/test/java/ca/bc/gov/api/oracle/legacy/controller/ClientControllerIntegrationTest.java
Labels: source, service, tests, controller, entity, repository, dto

#159 fix(deps): update dependency org.testcontainers:testcontainers-bom to v1.18.1
  pom.xml
Labels: dependencies, fix
