Repository bcgov/nr-forest-client-api, pull requests merged in 2023-03, with the labels that each got.

#120 feat(FSADT1-662): adding search by acronym
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  src/main/java/ca/bc/gov/api/oracle/legacy/entity/ClientDoingBusinessAsEntity.java
  src/main/java/ca/bc/gov/api/oracle/legacy/exception/ClientNotFoundException.java
  src/main/java/ca/bc/gov/api/oracle/legacy/exception/NoSearchParameterFound.java
  src/main/java/ca/bc/gov/api/oracle/legacy/handlers/ClientAcronymHandler.java
  src/main/java/ca/bc/gov/api/oracle/legacy/repository/ClientDoingBusinessAsRepository.java
  src/main/java/ca/bc/gov/api/oracle/legacy/routes/ClientRouter.java
  src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientService.java
  src/test/java/ca/bc/gov/api/oracle/legacy/handlers/ClientHandlerTest.java
Labels: source, service, feature, tests, entity, repository

#123 feat:(FSADT1-664): adding native support
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  Dockerfile
  InstallCert.java
  config/application.yml
  openshift.deploy.yml
  pom.xml
  src/main/java/ca/bc/gov/api/oracle/legacy/configuration/RouteConfiguration.java
  src/main/java/ca/bc/gov/api/oracle/legacy/controller/ClientController.java
  src/main/java/ca/bc/gov/api/oracle/legacy/controller/GlobalErrorController.java
  src/main/java/ca/bc/gov/api/oracle/legacy/dto/ClientLocationDto.java
  src/main/java/ca/bc/gov/api/oracle/legacy/dto/YesNoEnum.java
  src/main/java/ca/bc/gov/api/oracle/legacy/entity/ClientLocationEntity.java
  src/main/java/ca/bc/gov/api/oracle/legacy/entity/ClientLocationIdEntity.java
  src/main/java/ca/bc/gov/api/oracle/legacy/handlers/BaseHandler.java
  src/main/java/ca/bc/gov/api/oracle/legacy/handlers/ClientAcronymHandler.java
  src/main/java/ca/bc/gov/api/oracle/legacy/handlers/ClientFindByNamesHandler.java
  src/main/java/ca/bc/gov/api/oracle/legacy/handlers/ClientFindByNumberHandler.java
  src/main/java/ca/bc/gov/api/oracle/legacy/handlers/ClientFindNonIndividualsHandler.java
  src/main/java/ca/bc/gov/api/oracle/legacy/repository/ClientLocationRepository.java
  src/main/java/ca/bc/gov/api/oracle/legacy/routes/BaseRouter.java
  src/main/java/ca/bc/gov/api/oracle/legacy/routes/ClientRouter.java
  src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientLocationService.java
  src/main/resources/application.yml
  src/test/java/ca/bc/gov/api/oracle/legacy/AbstractTestContainerIntegrationTest.java
  src/test/java/ca/bc/gov/api/oracle/legacy/controller/ClientControllerIntegrationTest.java
  src/test/java/ca/bc/gov/api/oracle/legacy/controller/ClientLocationControllerIntegrationTest.java
  src/test/resources/application.yml
  startup.sh
Labels: source, service, dependencies, feature, tests, controller, configuration, entity, repository, dto

#121 feat(FSADT1-688): adding client location search
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  .github/workflows/unit-tests.yml
  Dockerfile
  openshift.deploy.yml
  pom.xml
  postman/FCA.postman_collection.json
  postman/FCA_postman_tests.json
  postman/FCA_postman_tests_dev.json
  src/main/java/ca/bc/gov/api/oracle/legacy/Application.java
  src/main/java/ca/bc/gov/api/oracle/legacy/controller/ClientController.java
  src/main/java/ca/bc/gov/api/oracle/legacy/dto/ClientLocationDto.java
  src/main/java/ca/bc/gov/api/oracle/legacy/entity/ClientDoingBusinessAsEntity.java
  src/main/java/ca/bc/gov/api/oracle/legacy/entity/ClientLocationEntity.java
  src/main/java/ca/bc/gov/api/oracle/legacy/exception/ClientNotFoundException.java
  src/main/java/ca/bc/gov/api/oracle/legacy/exception/NoSearchParameterFound.java
  src/main/java/ca/bc/gov/api/oracle/legacy/repository/ClientDoingBusinessAsRepository.java
  src/main/java/ca/bc/gov/api/oracle/legacy/repository/ClientLocationRepository.java
  src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientService.java
  src/main/java/ca/bc/gov/api/oracle/legacy/util/HandlerUtil.java
  src/test/java/ca/bc/gov/api/oracle/legacy/controller/ClientControllerIntegrationTest.java
  src/test/java/ca/bc/gov/api/oracle/legacy/service/ClientServiceIntegrationTest.java
Labels: source, service, dependencies, feature, tests, controller, entity, repository, dto

#125 ci: fixing smoke test params
  .github/workflows/merge-main.yml
Labels: ci

#126 Switch from Dependabot to Renovate
  .github/dependabot.yml
  .github/workflows/pr-open.yml
Labels: github_actions

#128 fix: deploy and smoke
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
Labels: fix

#132 fix: promoting image to prod
  .github/workflows/merge-main.yml
Labels: fix

#134 fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.0.4
  pom.xml
Labels: dependencies, fix

#135 fix(FSADT1-662): adding acronym as a parameter
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  Dockerfile
  mvnw
  mvnw.cmd
  postman/FCA_postman_tests.json
  postman/FCA_postman_tests_dev.json
  src/main/java/ca/bc/gov/api/oracle/legacy/dto/ClientPublicViewDto.java
  src/main/java/ca/bc/gov/api/oracle/legacy/repository/ClientDoingBusinessAsRepository.java
  src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientService.java
  src/test/java/ca/bc/gov/api/oracle/legacy/service/ClientServiceIntegrationTest.java
Labels: source, service, fix, tests, repository, dto

#136 feat: adding tagging
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  .github/workflows/unit-tests.yml
Labels: feature

#137 fix: fixing release
  .github/workflows/merge-main.yml
Labels: fix

#138 fix: fixing release image promotion
  .github/workflows/merge-main.yml
Labels: fix

#139 fix: fixing workflow
  .github/workflows/merge-main.yml
  openshift.deploy.yml
Labels: fix

#141 fix: promotion and memory
  .github/workflows/merge-main.yml
  openshift.deploy.yml
Labels: fix

#142 fix: fixing workflow issue
  .github/workflows/merge-main.yml
Labels: fix
