Repository bcgov/nr-forest-client-api, pull requests merged in 2023-08, with the labels that each got.

#174 feat(FSADT1-846): adding location details
  .github/workflows/pr-open.yml
  Dockerfile
  openshift.deploy.yml
  pom.xml
  src/main/java/ca/bc/gov/api/oracle/legacy/controller/ClientController.java
  src/main/java/ca/bc/gov/api/oracle/legacy/entity/ClientLocationEntity.java
  src/main/java/ca/bc/gov/api/oracle/legacy/repository/ClientLocationRepository.java
  src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientLocationService.java
  src/test/java/ca/bc/gov/api/oracle/legacy/controller/ClientLocationControllerIntegrationTest.java
Labels: source, service, dependencies, feature, tests, controller, entity, repository

#179 chore(deps): update dependency maven to v3.9.4
  .mvn/wrapper/maven-wrapper.properties
  Dockerfile
Labels: ignore-for-release

#180 fix(deps): update maven all non-major dependencies
  pom.xml
Labels: dependencies, fix

#181 fix: adding missing api key header
  src/main/java/ca/bc/gov/api/oracle/legacy/configuration/SwaggerConfiguration.java
  src/main/java/ca/bc/gov/api/oracle/legacy/controller/ClientController.java
Labels: source, fix, controller, configuration

#182 chore: forcing release
  Dockerfile
Labels: ignore-for-release

#183 fix(deps): update dependency org.springdoc:springdoc-openapi-starter-webflux-ui to v2.2.0
  pom.xml
Labels: dependencies, fix
