Repository bcgov/nr-forest-client-api, pull requests merged in 2023-06, with the labels that each got.

#162 chore(deps): update eclipse-temurin:17.0.7_7-jdk-alpine docker digest to 58b8b3e
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  .mvn/wrapper/maven-wrapper.properties
  Dockerfile
  pom.xml
Labels: dependencies, ignore-for-release

#166 chore(deps): update dependency org.apache.maven.plugins:maven-failsafe-plugin to v3
  pom.xml
Labels: dependencies, ignore-for-release

#167 chore(deps): update dependency org.apache.maven.plugins:maven-surefire-plugin to v3
  pom.xml
Labels: dependencies, ignore-for-release

#164 chore: updating codeowners
  .github/CODEOWNERS
Labels: github_actions, ignore-for-release

#168 fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.1.1
  pom.xml
Labels: dependencies, fix
