Repository bcgov/nr-forest-client-api, pull requests merged in 2024-01, with the labels that each got.

#198 feat(FSADT1-1096): adding count header
  .github/pull_request_template.md
  .gitignore
  config/application-local.yml
  config/application.yml
  postman/FCA.postman_collection.json
  src/main/java/ca/bc/gov/api/oracle/legacy/ApplicationConstants.java
  src/main/java/ca/bc/gov/api/oracle/legacy/controller/ClientController.java
  src/main/java/ca/bc/gov/api/oracle/legacy/dto/ClientPublicViewDto.java
  src/main/java/ca/bc/gov/api/oracle/legacy/dto/ClientViewDto.java
  src/main/java/ca/bc/gov/api/oracle/legacy/entity/ForestClientEntity.java
  src/main/java/ca/bc/gov/api/oracle/legacy/repository/ForestClientRepository.java
  src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientService.java
  src/main/java/ca/bc/gov/api/oracle/legacy/util/ClientMapper.java
  src/test/java/ca/bc/gov/api/oracle/legacy/service/ClientServiceIntegrationTest.java
Labels: github_actions, source, service, feature, tests, controller, configuration, entity, repository, dto

#203 ci: disabling pentest
  .github/workflows/merge-main.yml
  src/main/resources/static/robots.txt
Labels: ci

#204 feat(ci): zap
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  .github/workflows/scheduled.yml
  .github/workflows/unit-tests.yml
  openshift.deploy.yml
Labels: feature

#206 chore(ci): clean up old init job in pr-close.yml
  .github/workflows/pr-close.yml
Labels: bug, ignore-for-release

#209 fix(ci): init cleanup and job consolidation
  .github/workflows/analysis.yml
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  .gitignore
Labels: fix
