Repository bcgov/nr-forest-client-api, pull requests merged in 2025-09, with the labels that each got.

#366 chore: Revert "chore(deps): update github actions"
  .github/workflows/api-check.yml
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  .github/workflows/reusable-tests-be.yml
  .github/workflows/reusable-tests-repo.yml
Labels: ignore-for-release

#371 fix(sec:CVE-2025-58057): Netty's BrotliDecoder is vulnerable to DoS
  pom.xml
Labels: fix

#374 feat(waste-plus-127): updating search by numbers
  src/main/java/ca/bc/gov/api/oracle/legacy/controller/ClientSearchController.java
  src/main/java/ca/bc/gov/api/oracle/legacy/entity/ForestClientCountEntity.java
  src/main/java/ca/bc/gov/api/oracle/legacy/repository/ForestClientRepository.java
  src/main/java/ca/bc/gov/api/oracle/legacy/repository/QueryConstants.java
  src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientSearchService.java
  src/main/java/ca/bc/gov/api/oracle/legacy/util/ClientMapper.java
  src/test/java/ca/bc/gov/api/oracle/legacy/controller/ClientSearchControllerIntegrationTest.java
Labels: feature
